/*Paleta de colores:
#E1E6B9
#C4D7A4
#ABC8A4
#375D3B
#FFFFFF
*/

.encabezado{
    height: 100px;
}

.banner-container{
    background-image: ();
}

.registro{
    margin-top: 50px;
}

.label-formulario{
    margin-left: 10%;
    font-weight: bold;
    margin-bottom: 0;
}

.contenedor-formulario{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    height: 35px;
}

.boton-registro{
    display: block;
    width: 50%;
    height: 50px;
    background-color: #375D3B;
    margin: 0 auto;
    text-decoration: none;
    border-style: none;
    margin-top: 20px;
    font-weight: bold;
}